header{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	font-family: sans-serif;
}

h2{
	margin: 20px 0;
}

h3{
	font-size: 45px;
}

div.group{
	float: left;
	margin-left: 36px;
}

table th{
	border: 1px solid #909090;
	padding: 5px 0;
	width: 120px;
	height: 90px;
	vertical-align: top;
	text-align: right;
}

table th#week{
	background: #D8D8D8;
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	height: 0;
	padding: 12px 20px;
}

span.event{
	font-weight: bold;
	color: white;
	background: #009bcc;
	padding: 2px;
	width: 120px;
	height: 24px;
	float: left;
	text-align: left;
	margin: 1px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

span.event.first{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

span.event.last{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

span.event.single{
	border-radius: 4px;
}

/*############## ADD EVENT section ################################*/

div.event{
	margin: 25px 0; 
	color: white;
	border-radius: 6px;
	width: 100%;
	padding: 5px 10px;
  	font-size: 17.5px;
}

div.add_event{
	height: 100%;
	width: 20%;
	text-align: center;
	color: #3D7A99;
	background-color: #c2f0ff;
	border-color: #c2f0ff;
	border: 3px solid #c2f0ff;
	border-radius: 6px;
	float: left;
	margin: 110px 0 0 15px;
}

div.add_event form{
	float: left;
	width: 100%;
	padding: 5px;
	background: white;
}

div.add_event form label{
	width: 100%;
	text-align: left;
}

div.add_event form input{
	float: left;
	width: 100%;
	margin-bottom: 8px;
}

/*############# BUTTONS - Twitter's Bootstrap #################################*/

.btn-custom {
  background-color: #009bcc;
  border-color: #009bcc;
  color: white;
  border-radius: 6px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #0088b3;
  border-color: #007499;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #009bcc;
  border-color: #009bcc;
}

.btn-oldstyle {
  padding: 2px 10px;
  font-size: 17.5px;
  border-radius: 6px;
  background-color: #00cc39;
  border-color: #00cc39;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #00b833;
  background-image: -moz-linear-gradient(top,#00cc39,#00992b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#00cc39),to(#00992b));
  background-image: -webkit-linear-gradient(top,#00cc39,#00992b);
  background-image: -o-linear-gradient(top,#00cc39,#00992b);
  background-image: linear-gradient(to bottom,#00cc39,#00992b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00cc39', endColorstr='#ff00992a', GradientType=0);
  border-color: #00992b #00992b #004d15;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #00992b;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #00b332;
  border-color: #00992b;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #00cc39;
  border-color: #00cc39;
}
