<!DOCTYPE html>
<html ng-app="jsCalendar">
<head>	
  <meta name="author" content="Sergio Ortega"/>
  <meta name="description" content="Calendar in AngularJS">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type='text/javascript' src='js/jquery-1.11.1.js'></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="CalendarController as calendar">
	<header>
		<h3>Calendar<h3>
	</header>
    <div class="group" >  
      <button class="btn-oldstyle" ng-click="calendar.setMonth(1)">< Previous</button>
      <button class="btn-oldstyle" ng-click="calendar.setMonth(2)">Next ></button>
      <h2>{{monthName}} {{year}}</h2>
      <table calendartable></table>
      <div class="event"></div>
    </div>
    <div class="add_event">
      <h2>Add Event</h2>
      <form ng-controller="FormController" name="CalendarEvent" novalidate>
        <label>Title</label>
        <input type="text" ng-model="CalendarEvent.title" required/>
        <label>From:</label>
        <input type="date" ng-model="CalendarEvent.from" required/>
        <label>To:</label>
        <input type="date" ng-model="CalendarEvent.to"/>
        <input class="btn-custom" type="submit" text="Add event" ng-click="update(CalendarEvent)">
      </form>
      <pre>form = {{CalendarEvent | json}}</pre>
      <pre>master = {{master | json}}</pre>
    </div>
</body>
</html>